<footer class="footer footer-transparent d-print-none">
  <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
      <% if (!branding.credits.hide && branding.credits.text) { %>
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline list-inline-dots mb-0 app-footer-credits">
            <li class="list-inline-item">
              <i class="ti ti-brand-github"></i>
              <% if (branding.credits.lead) { %><%= branding.credits.lead %> <% } %>
              <% if (branding.credits.url && branding.credits.url !== '#') { %>
                <a href="<%= branding.credits.url %>" target="_blank" rel="noopener noreferrer"><%= branding.credits.text %></a>
              <% } else { %>
                <%= branding.credits.text %>
              <% } %>
            </li>
          </ul>
        </div>
      <% } %>
      <% if (branding.tagline) { %>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item text-secondary small">
              <%= branding.appName %><% if (branding.tagline) { %> - <%= branding.tagline %><% } %>
            </li>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
</footer>
